// Display utility classes
.magic-extra-field-light-d-block {
    display: block;
}

.magic-extra-field-light-d-inline {
    display: inline;
}
/*input type text style */
.magic-input,
.magic-input-text {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &:disabled {
        background-color: #e9ecef;
        opacity: 1;
    }
}
// checkbox layout
.magic-extra-field-checkbox-wrapper {
    &.flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.magic-extra-field-field {
    &.checkbox {
        .magic-extra-field-field-input {
            display: flex;
        }
    }
}
.magic-extra-field-checkbox-wrapper {
    display: flex;
  
    .magic-extra-field-field {
      .magic-extra-field-field-input {
        position: relative;
  
        input[type="checkbox"].magic-checkbox {
          display: none;
  
          &:not(:checked) + label,
          &:checked + label {
            padding-left: 35px;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            overflow: hidden;
            user-select: none; // all modern browsers
  
            &:before,
            &:after {
              content: '';
              position: absolute;
              left: 0;
              z-index: 1;
              transition: .2s;
              width: 19px;
              height: 19px;
              border: 1px solid red; // Default border color
              top: 3px; // Centers the box vertically within the label
            }
          }
          &:not(:checked) + label:after {
            z-index: 0;
          }
  
          &:checked + label:before {
            content: '';
            width: 10px;
            height: 5px;
            border: solid white;
            border-width: 0 0 2px 2px;
            transform: rotate(306deg);
            left: 4px;
            top: 8px; // Centers the checkmark vertically within the box
            z-index: 2; // Ensure checkmark appears above background
          }
  
          &:checked + label:after {
            background-color: red; // Changes the background color of the checkbox
            z-index: 1;
          }
  
          &:disabled:not(:checked) + label:before,
          &:disabled:checked + label:before {
            top: 3px;
            box-shadow: none;
            background-color: #444;
            width: 19px;
            height: 19px;
            border: 3px solid #444;
            transform: rotateZ(0deg);
          }
  
          &:disabled + label {
            color: #555;
          }
  
          &:disabled:not(:checked) + label:hover:before {
            border-color: red;
          }
        }
      }
    }
  }


